@tailwind base;
@tailwind components;
@tailwind utilities;

  html{
    font-size: 18px;
    
    background-color: #111217;
      scroll-behavior: smooth!important;
  
  }
  body{

  margin-left: 12%;
  margin-right: 12%;
  }

  @media only screen and (max-width: 768px) {
    body {
      margin-left: 2%;
      margin-right: 2%;
    }
    html{
      font-size: 12px;
    }
  }

  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    body {
      margin-left: 1%;
      margin-right: 1%;
    }
  }

  @keyframes colorChange {
    0% {
      border-color: #3498db; /* Initial color (blue) */
    }
    100% {
      border-color: #e74c3c; /* Final color (red) */
    }
  }