@tailwind base;
@tailwind components;
@tailwind utilities;

  html{
    font-size: 18px;
    
    background-color: #111217;
      scroll-behavior: smooth!important;
  
  }
  body{

  margin-left: 12%;
  margin-right: 12%;
  }


  @keyframes colorChange {
    0% {
      border-color: #3498db; /* Initial color (blue) */
    }
    100% {
      border-color: #e74c3c; /* Final color (red) */
    }
  }